.likeblock-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 1em;
  row-gap: 1em;
  align-items: flex-start;
  padding: 2em 0 0 0;
  margin: 0px 30px;
}