.homepage {
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: gold;
    height: 100vh;
    width: 100%;
}

.homepage-intro {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.homepage-carosel {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.homepage-carosel-details {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.homepage-carosel-details p { 
    font-size: 22px;
    text-align: center;
    padding-top:10px;

}

.homepage-carosel-details img {
    width: 200px;
    height: 300px;
}