@import './components/homepage/homepage.css';
<<<<<<< HEAD:src/index.css
@import './components/movie_card/movie_card.css';
=======
>>>>>>> 80d9ea37f5819e146c314e7d0baebfb3dd1fc48b:movie_list/src/index.css

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
