nav {
  box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0,0,0,0.5);
}

.offcanvas-body a {
  padding-left: 2em;
}

.nav-link {
  border-radius: 1em;
  font-weight: 500;
}

.nav-link:hover {
  background-color: lightgrey;
}

.navbar-brand {
  font-size: 24px;
  font-family: 'Monoton', sans-serif;
  cursor: pointer;
}